# Required Python packages
# Use with pip install -r requirements.txt
numpy
docopt-ng
loguru
# Not sure if we will end up using this, but go ahead and include for now
loguru-config

# For unit testing
pytest
pytest-loguru
pytest-cov
pytest-xdist

# Also depends on py_retrieve.app, but that isn't a normal pip
# package so don't list here

# Franks ML depends in these
scipy
matplotlib
cartopy
tensorflow
netcdf4
juypterlab
scikit-learn
